# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# Vagrant
.vagrant/

# Binaries and compiled files
build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out

# Go Workspace
go.work
go.work.sum
